langchain~=0.1.17
langchain-openai~=0.1.6
openai==1.30.1
faiss-cpu==1.7.4
sentence-transformers==2.6.1
pypdf==4.2.0
fastapi==0.110.0
uvicorn==0.29.0


#pip install --upgrade pip

#pip install openai==1.30.1
#pip install langchain==0.1.17
#pip install langchain-openai==0.1.6
#pip install langchain-community==0.0.38

#pip install faiss-cpu==1.7.4
#pip install sentence-transformers==2.6.1
#pip install pypdf==4.2.0